<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>freshapplinks</name>
    <displayName><![CDATA[FreshApp Links]]></displayName>
    <version><![CDATA[1.1.2]]></version>
    <description><![CDATA[Configurable link lists (product, category, CMS page or custom URL) displayed on any hook, with custom icon and style.]]></description>
    <author><![CDATA[FreshApp.io]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
